* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkseagreen;
    color: darkred;
}

.publisher-area {
    margin: auto;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    border: solid blueviolet 3px;
}

.ac-lre-form-container {
    direction: ltr;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;

    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.ac-lre-form-slot {
    padding: 10px 20px;
}

.align-center .ac-lre-form-slot {
    margin: auto;
    text-align: center;
}

.ac-lre-form-header {
    width: 40%;
    order: 2;
}

.align-right .ac-lre-form-header {
    order: 1;
}

.align-center .ac-lre-form-header {
    width: 100%;
    order: 1;
}

.ac-lre-form-logo {
    max-width: 100px;
    max-height: 100px;
}

.ac-lre-form-data {
    width: 60%;
    order: 1;
}

.align-right .ac-lre-form-data {
    order: 2;
}

.align-center .ac-lre-form-data {
    width: 100%;
    order: 2;
}

.ac-lre-form-buttons {
    width: 60%;
    order: 3;
}

.align-right .ac-lre-form-buttons {
    order: 4;
}

.align-center .ac-lre-form-buttons {
    width: 100%;
}

.ac-lre-form-button-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ac-lre-form-button-list button {
    border: none;
    background: none;
    cursor: pointer;
    color: blue;
}

.ac-lre-form-button-list button.primary {
    border: none;
    background: blue;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
}

.ac-lre-form-links {
    width: 40%;
    order: 4;
    font-size: x-small;
}

.align-right .ac-lre-form-links {
    order: 3;
}

.align-center .ac-lre-form-links {
    width: 100%;
}

.ac-lre-field-text-area textarea,
.ac-lre-field-date input,
.ac-lre-field-select select,
.ac-lre-field-text input {
    width: 100%;
}
