* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.box-container {
    --pos-x: 0px;
    --pos-y: 0px;
    --btn-height: 30px;
    --btn-width: 60px;
    --buttons-height: calc(var(--btn-height) * 2 + 20px);
    
    position: fixed;
    top: var(--pos-y, 0px);
    left: var(--pos-x, 0px);

    height: 80vh;
    width: 80vw;
    min-width: calc(var(--btn-width) * 3 + 50px);
    min-height: calc(var(--buttons-height) + 200px);

    border: darkred solid 1px;
    background-color: cornsilk;

    padding: 10px;
}

.box-buttons {
    position: relative;
    margin: 0 auto 10px auto;
    width: calc(var(--btn-width) * 3 + 30px);
    height: var(--buttons-height);
}

.box-buttons button {
    width: var(--btn-width);
    height: var(--btn-height);
}

.box-buttons #btnUp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box-buttons #btnDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box-buttons #btnLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.box-buttons #btnRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.box-report {
    position: relative;
    margin: auto;
    width: 80%;
    padding: 10px;

    background-color: azure;
}

.box-pos {
    height: calc(var(--btn-height) * 2);
    border: solid 1px blueviolet;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.box-events {
    padding: 0;
    height: calc(100% - var(--buttons-height) - var(--btn-height) * 2 - 30px);
}
