/* vector */
.container {
    background: whitesmoke;
    width: max-content;
}

.svg-path-square {
    width: 500px;
    height: 450px;
    background: burlywood;
    clip-path: path("M90,75 L420,75 L420,380 L90,380 Z");
}

.svg-path-rectangle {
    width: 500px;
    height: 450px;
    background: burlywood;
    clip-path: path("M45,80 L445,80 L445,350 L45,350 Z");
}