body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

.box-container {
    height: 80vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: darkred solid 1px;
    background-color: cornsilk;
}

.box-cube {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.box-100 {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.box-white {
    background-color: white;
}

.box-red {
    background-color: red;
}

.box-orange {
    background-color: orange;
}

.box-yellow {
    background-color: yellow;
}

.box-green {
    background-color: green;
}

.box-lightblue {
    background-color: lightblue;
}

.box-blue {
    background-color: blue;
}

.box-violet {
    background-color: violet;
}

.box-black {
    background-color: black;
}
