p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.grid-example-01 {
    display: grid;
    grid-template-columns: 100px auto 100px;
    /* grid-template-rows: 50px 50px; */
    column-gap: 20px;
    row-gap: 50px;
}

.grid-example-01 div {
    background-color: darksalmon;
}
