.redirect-panel {
    font-size: 12px;
    width: max-content;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto;
    border: black 1px solid;
    border-radius: 10px;
    background-color: lavender;
    box-shadow: 5px 5px 10px #777;
}

.redirect-panel .item {
    width: 100%;
    position: relative;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.redirect-panel .item input[type=text] {
    width: 280px;
}

.redirect-panel .item input[type=url] {
    width: 350px;
}

.redirect-panel .item select {
    min-width: max-content;
}

#select-widget-example {
    width: 288px; 
}
