* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: wheat;
}

.resize-control-panel {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: -10px auto;
    padding: 0;
    max-width: 90%;
    width: max-content;
}

.resize-control-panel li {
    position: relative;
    width: max-content;
    padding: 5px 10px;
    background-color: blue;
    border: 2px solid yellow;
    border-radius: 10px;
    color: yellow;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.resize-control-panel li input {
    width: 40px;
}

.resize-control-panel.green li {
    background-color: darkgreen;
    min-width: 150px;
    width: max-content;
    cursor: unset;
}

.resize-control-panel.green li button {
    font-size: larger;
    cursor: pointer;
}

.resize-control-panel.green li div {
    margin: 5px;
}

.resize-control-panel.green li input {
    width: 50px;
    position: absolute;
    left: 110px;
}

.resize-control-panel.indent-120 li {
    min-width: 170px;
}

.resize-control-panel.indent-120 li input {
    left: 120px;
}

.resize-control-panel.red li {
    background-color: darkred;
}

.resize-control-panel.violet li {
    background-color: darkviolet;
}

.publisher-area {
    margin: 20px auto;
    width: 1024px;
}
