.player-config-panel {
    font-size: 12px;
    width: max-content;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px auto;
    border: black 1px solid;
    border-radius: 10px;
    background-color: lavender;
    box-shadow: 5px 5px 10px #777;
}

.player-config-panel .item {
    width: 100%;
    position: relative;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.player-config-panel .item input[type=text] {
    width: 280px;
}

.player-config-panel .item input[type=url] {
    width: 350px;
}

.player-config-panel .item select {
    min-width: max-content;
}

.widget-example-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.widget-example-item {
    min-width: 30%;
    width: min-content;
    padding: 10px;
    border: solid black 1px;
    box-shadow: 5px 5px 10px gray;
    margin: 10px;
}
