.resize-box-panel {
    box-sizing: border-box;
    font-size: 10px;
    font-weight: normal;
    opacity: 0.5;
}

.resize-box-panel.pane {
    width: 20em;
    margin: 0;
    padding: 0.5em 0;
    border: solid yellow 2px;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.resize-box-panel .line {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding: 0;
    max-width: 100%;
    width: max-content;
}

.resize-box-panel .option {
    position: relative;
    width: max-content;
    padding: 0.5em 1em;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid yellow;
    border-radius: 1em;
    color: yellow;
    margin: 0.5em;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
