.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-mask-size: contain; /* chrome, edge, ff */
  mask-size: contain; /* ff */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: black;
}

.icon:hover,
.icon:focus {
    background-color: red;
}

.icon-bike {
  mask-image: url(svg/icon-bike-black.svg); /* ff */
  -webkit-mask-image: url(svg/icon-bike-black.svg); /* chrome, edge, ff */
}

.icon-bullet-list {
  mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/vjs-icon-bullet-list.svg); /* ff */
  -webkit-mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/vjs-icon-bullet-list.svg); /* chrome, edge, ff */
}

.icon-lt-arr {
  mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/vjs-icon-lt-arr.svg); /* ff */
  -webkit-mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/vjs-icon-lt-arr.svg); /* chrome, edge, ff */
}

.icon-cc-on-2 {
  mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/icon-cc-on-2.svg); /* ff */
  -webkit-mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/icon-cc-on-2.svg); /* chrome, edge, ff */
}

.icon-cc-off-2 {
  mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/icon-cc-off-2.svg); /* ff */
  -webkit-mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/icon-cc-off-2.svg); /* chrome, edge, ff */
}

.icon-gear {
  mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/icon-gear.svg); /* ff */
  -webkit-mask-image: url(https://assets.anyclip.com/anyclip-widget/lre-widget/assets/lre_theme/icon-gear.svg); /* chrome, edge, ff */
}


