.container {
    --sky-height: 222px;
    --sun-size: 100px;
    --sun-position: 0px;

    width: 100%;
    height: 100%;
    border: 5px solid lightgray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.ocean {
    position: absolute;
    width: 100%;
    height: calc(100% - var(--sky-height));
    left: 0px;
    bottom: 0px;
    /* top: var(--sky-height); */
    background-image: conic-gradient(
        from 90deg at 50% 125%,
        #021e34,
        #055ca7,
        #052b4c,
        #003b90,
        #00174a
    );
}

.sky {
    position: absolute;
    width: 100%;
    height: var(--sky-height);
    top: 0;
    left: 0;
    background-image: linear-gradient(
        0deg,
        hsl(205deg 55% 42%) 0%,
        hsl(207deg 58% 40%) 4%,
        hsl(210deg 63% 37%) 9%,
        hsl(213deg 69% 35%) 15%,
        hsl(216deg 80% 32%) 21%,
        hsl(215deg 98% 27%) 28%,
        hsl(215deg 96% 25%) 35%,
        hsl(214deg 94% 23%) 42%,
        hsl(212deg 91% 20%) 49%,
        hsl(208deg 88% 16%) 56%,
        hsl(210deg 89% 16%) 63%,
        hsl(213deg 91% 15%) 70%,
        hsl(216deg 93% 15%) 76%,
        hsl(220deg 96% 15%) 82%,
        hsl(220deg 98% 14%) 87%,
        hsl(218deg 97% 13%) 91%,
        hsl(215deg 95% 13%) 95%,
        hsl(211deg 94% 12%) 98%,
        hsl(206deg 93% 11%) 100%
    );
}

.sun {
    position: absolute;
    width: var(--sun-size);
    height: var(--sun-size);
    transform: translate(-50%, -50%);
    top: calc(var(--sky-height) - var(--sun-position));
    left: 50%;
    background: radial-gradient(
        circle,
        #fff2d6 20%,
        #d89766 25%,
        transparent 55%
    );
}

.stars {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
}

.stars::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 160px;
    top: 0;
    left: 0;
    background: radial-gradient(#fff 5%, transparent 5%);
    background-position: top left, 5px 23px;
    background-size: 15px 15px;
    border-radius: 50%;
    opacity: 0.1;
    transform: skew(20deg);
}

.stars::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    top: -30px;
    left: 10px;
    background: radial-gradient(#fff2d6 5%, transparent 5%);
    background-position: top left, 15px 15px;
    background-size: 20px 20px;
    border-radius: 50%;
    opacity: 0.1;
    transform: skew(35deg);
}

.sun-reflection {
    --sun-reflection-width: 360px;
    position: absolute;
    width: var(--sun-reflection-width);/* 357px;*/
    height: 100%;/*178px;*/
    transform: translateX(-50%);
    top: 0;/*var(--sky-height);*/ /*222px;*/
    left: 50%;/* calc((100% - var(--sun-reflection-width)) / 2);*//*116px;*/
    background: conic-gradient(
        from 168deg at top,
        #d89766 0deg 20deg,
        #0000 21deg
    );
    mask-image: linear-gradient(#0000, #000);
    -webkit-mask: linear-gradient(#0000, #000); /* Opera */
}
