.example {
    color: #ff0000; /* sets text color to red */
    background-color: #00ff00; /* sets back color to green */
    font-size: 25px; /* sets the font size to 25px */
    font-weight: bold; /* sets the text to bold */
    font-style: oblique; /* sets the text to oblique; */
    font-family: Arial, sans-serif;
    letter-spacing: 5px; /* sets 5px space between characters */
    word-spacing: 10px; /* sets 10px space between words */
    line-height: 1.5; /* sets the line height to 250% of the font size */
    word-break: break-all; /* allows words to be broken at any letter of any word */
    text-align: center; /* centers the text within the element */
    text-decoration: underline red wavy; /* adds an underline to the text */
    text-underline-offset: 20px; /* sets the offset of the underline to 20px */
    text-indent: 30px; /* indents the first line of text by 30px */
    text-shadow: 2px 2px 2px #0000ff; /* adds a red shadow 2px to the right and 2px down with a blur of 2px */
    text-transform: uppercase; /* sets the text to uppercase */
}

.example:first-letter {
    font-size: 5rem;
    font-weight: bold;
    color: brown;
}

.random-letter {
    font-size: 5rem;
    font-weight: bold;
    color: green;
}