body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    perspective: 400px;
    perspective-origin: 50% 50%;
    /* perspective-origin: left; */
    /* perspective-origin: top; */
}

.dice {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateY(185deg) rotateX(150deg) rotateZ(315deg);
    animation: rotate 2s ease-in-out infinite;
}

.side {
    width: 100%;
    height: 100%;
    background: #da0060;
    border: 2px solid black;
    position: absolute;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side::before {
    content: "";
    width: 20%;
    height: 20%;
    background: black;
    border-radius: 50%;
}

.one {
    transform: translateZ(100px);
}

.two {
    transform: translateX(-100px) rotateY(-90deg);
}

.three {
    transform: translateY(100px) rotateX(90deg);
}

.four {
    transform: translateY(-100px) rotateX(90deg);
}

.five {
    transform: translateX(100px) rotateY(90deg);
}

.six {
    transform: translateZ(-100px);
}

.one::before {
    box-shadow: unset;
}

.two::before {
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px;
}

.three::before {
    box-shadow: #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px;
}

.four::before {
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px,
        #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px;
}

.five::before {
    box-shadow: #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px,
        #000 -50px 50px 0px 0px, #000 50px -50px 0px 0px;
}

.six::before {
    background: transparent;
    box-shadow: #000 -50px -50px 0px 0px, #000 50px 50px 0px 0px,
        #000 -50px 0px 0px 0px, #000 50px 0px 0px 0px, #000 -50px 50px 0px 0px,
        #000 50px -50px 0px 0px;
}

@keyframes rotate {
    from {
        transform: rotateY(0) rotateX(45deg) rotateZ(45deg);
    }

    to {
        transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg);
    }
}