* {
    font-family: cursive;
}

.example {
    max-width: 600px;
    margin: auto;
}

.example div {
    margin-bottom: 10px;
}

fieldset {
    border: 1px solid blue;
}

legend {
    padding: 10px;
    background: #5c0b02;
    color: white;
}

input[type="submit"] {
    background: #0de281;
}

input[type="checkbox"] {
    outline: 3px solid black;
}

input:checked {
    outline: 2px solid yellow;
}

input:indeterminate {
    background: yellow;
    outline: 2px solid red;
}

label {
    background: yellow;
}