.parent {
  text-align: center;
  border: 2px solid red;
}

.child {
  border: 1px solid green;
}

.parent-2 {
  border: 2px solid red;
}

.child-2 {
  width: 200px;
  margin: auto; /* or margin: 0 auto */
  border: 4px solid green;
}
