/* selectmenu */
* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: cursive;
}

body {
    background-color: wheat;
}

.publisher-area {
    margin: 20px auto;
    width: 1024px;
}

.container {
    background: whitesmoke;
    width: max-content;
}
